.navbar-kotak{
    width: 103%;
}
.navbar-awal{
    padding: 20px 60px 18px;
    background-color: #49A1F2;

}
.navbar-nama{
    padding: 100px;
    margin: 30px;
    position: absolute ;
    font-size: 20px;
    color: white;
}

.navbar-logo{
    color:white;
    font-size: 40px;
}
.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}

.nav-logout{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 45px;
    left: 30px;
    top: 530px;
    background-color: #EA3939;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;

}

.contain{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 90;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    color: #5E5E5E;
    padding-left: 21%;
}

.container{
    margin-left: 4%;
    padding: 40px 65px;
}

.container h6{
    color: #686868;
    text-align: left;

}
.container p{
    text-align: justify;
    font-size: 13px;
}